<div>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-white shadow">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-0 h1">Student Management System</a>
            <a href="/login" class="btn btn-outline-success">Login</a>
        </div>
    </nav>
    <div>
        <div class="row m-0 my-5">
            <div class="col-md-6 p-5">
                <h2 class="mb-3">Introduction</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque natus ratione
                    voluptatibus
                    exercitationem accusamus, tenetur laborum totam libero quis, velit commodi? Ipsa numquam dolorum
                    veniam.
                    Consequuntur numquam beatae velit maxime.</p>
                <a href="/signup" class="btn btn-success btn-lg px-5">Signup</a>
            </div>
            <div class="col-md-6">
                <img src="school.svg" class="w-75" alt="">
            </div>
        </div>
    </div>
    <div class="mt-5 p-2 text-white bg-dark">Copyright &copy; SMS 2020</div>
</div>